@{
    ViewData["Title"] = "Shop";
}

<div class="container text-center mt-5 mb-5">
    <h2>Use this page to detail your site's shop.</h2>

    <p>---------------------------------------------</p>
</div>

<partial name="_ShopShowcase" />

<partial name="_ShopbannerPartial" />


<div id="shop-display">
    <div class="container d-flex">
        <div>
            <partial name="_ProductCategoriesSideMenuPartial" />
            <partial name="_ShopFilterByPriceSideMenuPartial" />
            <partial name="_ShopFilterByColorSideMenuPartial" />
        </div>
        






        <div id="shop-products">
            HÄR SKA ALLA PRODUKTER VARA
        </div>
    </div>

</div>